<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="markdown_opener" value="C:\Users\thumb\Documents\projects\rpUtilities\librettox\template_work\schemas"/>
        <add key="storedProcsTemplatePath" value="C:\Users\thumb\Documents\projects\rpUtilities\librettox\template_work\schemas"/>
        <add key="version_number" value="3.1.12"/>
    </appSettings>

    <connectionStrings>
        <add name="SqlServer" connectionString ="Data Source=.;Initial Catalog=ProjectCatalog;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
    </connectionStrings>
</configuration>